:root {
    --bg-dark-1: #252526;
    --bg-dark-2: #1E1E1E;

    background-color: var(--bg-dark-2);
}


html {
    min-width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(0, 75, 75);
    position: fixed;
    top: 0;

    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    color: rgb(255, 255, 255);

    font-size: 1.7rem;
    padding: 1rem;
}

nav a:hover {
    background-color: #003434;
}

main {
    height: 100%;
    width: 100%;
}

#about {
    background-color: #008b8b;
    min-height: 100vh;
    min-width: 100%;

    display: flex;
    overflow: hidden;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about h1,
#about p {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#about h1 {
    font-size: 6rem;
}

#about p {
    font-size: 3rem;
}

#work {
    padding-bottom: 3rem;

    background-color: #00ADAE;
    overflow: hidden;


}
#work h2{
    font-size: 4rem;
    text-align: center;
}
#project-container {
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
}

.project-wrapper {
    height: 300px;

    background-color: white;

    border-radius: 15px;
}

#contact {
    display: flex;

    background-color: #00ced1;
    min-height: 250px;
    min-width: 100%;
}

/* footer {
    background-color: #00ced1;
    min-height: 250px;
    min-width: 100%;
} */