html {
    min-width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #005858;
    position: fixed;
    top: 0;

    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: flex-end;

    height: 4rem
}

nav a {
    color: rgb(255, 255, 255);

    font-size: 1.7rem;
    padding: 1rem;
}

nav a:hover {
    background-color: #003434;
}

main {
    height: 100%;
    width: 100%;
}

#about-section {
    background-color: #009494;
    min-height: 100vh;
    min-width: 100%;

    display: flex;
    overflow: hidden;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 3px solid #00ADAE;
}

#about-section h1,
#about-section p {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#about-section h1 {
    font-size: 5rem;
}

#about-section p {
    font-size: 2rem;
}

#work-section {
    padding-bottom: 2rem;
    background-color: #00ADAE;
    overflow: hidden;

    border-top: 3px solid #009494;
    border-bottom: 3px solid #00ced1;
}

#work-section-header {
    font-size: 4rem;
    text-align: center;
    margin: 6rem 0 5rem 0;
}

#project-container {
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
}

.project-wrapper {
    height: 300px;

    background-color: white;

    border-radius: 15px;
}

#contact-section {
    /* min-height: 100vh; */
    min-width: 100%;
    background-color: #00ced1;
    padding-bottom: 4rem;

    overflow: hidden;
    border-top: 3px solid #00ADAE;
    border-bottom: 3px solid #00ADAE;
}

#contact-section h2 {
    font-size: 4rem;
    text-align: center;
}

#contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-item-placeholder {
    width: 75px;
    height: 75px;
    background-color: white;
}

.contact-item-spacer {
    width: 75px;
    height: 75px;
}

footer {
    background-color: #00ADAE;
    border-top: 3px solid #00bcbc;
    min-height: 50px;
    min-width: 100%;
}